<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-6 seccion">
            <div class="card text-left seccion box-sombra">
                <div class="card-header">
                    Calendario
                </div>
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
            
            {% include 'AppBundle:layouts:modal.html.twig' %}
        </div>
              
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="card text-left seccion box-sombra">
                    <div class="card-header">
                        Contenido
                    </div>
                    <div class="card-body">
                        <p>Este es el contenido del día seleccionado</p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-12">
                <div class="card text-left seccion box-sombra">
                    <div class="card-header">
                        Gráficas
                    </div>
                    <div class="card-body">
                        <p>Aquí van las gráficas</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

